<form (submit)="getOpcion()">
    <p>Seleccionae opción</p>
    <select name="opc" [(ngModel)] = "opc">
        <option value="1">1</option>
        <option value="2">2</option>
        <option value="3">3</option>
        <option value="4">4</option>
    </select>
    <button type="submit">Enviar</button>
</form>
<div [ngSwitch]="opcionSeleccionada">
    <p *ngSwitchCase="0">Ninguna opción seleccionada</p>
    <p *ngSwitchCase="1">Opción 1</p>
    <p *ngSwitchCase="2">Opción 2</p>
    <p *ngSwitchCase="3">Opción 3</p>
    <p *ngSwitchCase="4">Opción 4</p>
    <p *ngSwitchDefult="">Ninguna de las anteriores</p>
</div>